body {
	display: flex;
	margin: auto;
	flex-direction: column;
}

.container {
	margin: auto;
	display: flex;
	max-width: 500px;
	max-height: 500px;
	flex-wrap: wrap;
	flex-direction: row;

	background-color: #f5f3f3;
}

.divBox {
	width: 5px;
	height: 5px;
	flex: auto;
	flex-grow: inherit;
}

.buttonContainer {
	display: flex;
	align-items: center;
	height: 50px;
	margin: auto;
}

.getColor {
	width: 30px;
	height: 30px;
	border: 0px;
	padding: 0px;
}
